*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}

body{
    /*adding-bottom: 4em;*/
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    color: #393939;
}

a{
    color: #b1b3b5;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.titleContainer{
    display: flex;
    
    flex-direction: row;
    justify-content: flex-end;
    
}

.reverseTitle{
    background: orange;
    /*max-width: 4em;**/
    width: 5em;
    border-radius: 10px;
    text-align: center;
    padding: 0 5px;
    
    margin: 0 2% 0.2em 0;
    
    
}

#container{
    min-height: 100%;
    position: relative;
}

header{
    clear: both;
    /*height: 3em;*/
    width: 100%;
    
    /*min-width: 330px;*/
    
    /*background: #009E2D;*/
    background: #393939;
    
}

header nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 5em;
    text-align: center;
    border-right: 2px white solid;
    /*background-color: green;*/
    height: 2em;
}

nav ul li:last-child{
    border: none;
}

nav ul li a{
    display: block;
    line-height: 2em;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.container{
    /*margin: 5% 0;*/
}

.container > div:not(.introduction){
    margin-top: 2em;
}
.introduction{
    background: #00CBE9;
}

.introduction h2{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form input, form select{
    width: 96%;
    margin-bottom: 5px;
    /*height: 1.8em;*/
    border-radius: 10px;
    padding: 5px;
    text-align-last: center; /*last bijgevoegd voor chrome compatibiliteit*/
}

input[type=submit]{
    background: #8CC540;
    border: none;
    color: #393939;
}

.contentBar{
    background: #4DA8A1;
    height: 3em;
}



.recent{
    padding-bottom: 0;
}

.itemdetails{
   /*border-radius: 10px;*/
   color: #393939;
   background: #00CBE9;
   margin: 0  0 1em 0;
   display: flex;
   align-items: center;
   width: 100%;
   height: 6em;
   
}

.itemdetails a{
    color: inherit;
}

.itemdetails:hover{
    background: rgba(57, 57, 57, 0.5);
}

.itemdetails:hover .itemfooter{
    box-shadow: none;
}

.itemImg{
    height: 100%;
    width: 120px;
    background-color: rgba(233, 203, 233, 0.8);
    /*border: solid 1px rgba(0, 203, 233, 0.2);*/
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    
    
}

.itemImg img{
    height: 90%;
    width: auto;
    
}

.itemImg a{
    height: 100%;
    width: 100%;
}

.itemcontent{
    margin: 0 2% 0.1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /*padding-left: 0.5em;*/
    
    
    
}

.itemdescription{
    height: 2.3em;
    line-height: 1em;
    overflow: hidden;
    flex-grow: 3;
    /*box-shadow: inset 0 -10px 6px -2px #00CBE9;*/
}

.itemfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -10px 10px 2px #00CBE9;
    z-index: 15;
    height: 1.3em;
}

.itemlocation{
    font-size: 0.8em;
}

#item-sectionName{
    width: 6.25em;
    font-size: 0.8em;
    background: #fafafa;
    border-radius: 10px;
    text-align: center;
    height: 1.4em;
}








.itemdetails .description{
    /*float: left;*/
   /*height: 50px;*/
    
}

.location{
    clear: left;
}

footer{
    background: #393939;
    height: 2em;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: -3em;
    width: 100%;
}


