{% extends "skeleton.twig" %}

{% block title %}Account{% endblock %}

{% block content %}
    <h1>Account van: {{ username }}</h1>
    <ul>
    {% for item in itemList %}
        <li>
            <a href="item.php">{{ item.title }}</a> - <a href="item.php?action=delete">Delete</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}