{% extends "skeleton.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>




    <div class="loginForm">
        <form action="login.php" method="post">
            <input type="text" name="username" placeholder="Gebruikersnaam">
            <input type="password" name="password" placeholder="Wachtwoord">
            <input type="submit" name="login" value="Inloggen">
        </form>
    </div>


    <h1>Of registreer nu...</h1>



{% if error == "userexists" %}
            <p style="color: red">Gebruikersnaam bezet</p>
        {% endif %}
    <div class="registerForm">
        <form action="login.php" method="post">
            <input type="text" name="username" placeholder="Gebruikersnaam">
            <select name="city">


                {% for city in cityList %}
                    <option value="{{ city.id }}">
                        {{city.postcode}}, {{ city.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="password" name="password" placeholder="Wachtwoord">
            <input type="password" name="password2" placeholder="Bevestig wachtwoord">
            <input type="submit" name="register" value="Registreren">
        </form>
    </div>





{% endblock %}