{% extends "skeleton.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="titleContainer">
        <h4 class="reverseTitle">Login</h4>
    </div>




    <div class="loginForm">
        <form action="login.php" method="post">
            <input type="text" name="username" placeholder="Gebruikersnaam">
            <input type="password" name="password" placeholder="Wachtwoord">
            <input type="submit" name="login" value="Inloggen">
        </form>
    </div>

    <div class="titleContainer">
        <h4 class="reverseTitle">Registreer</h4>
    </div>


    {% if error == "userexists" %}
        <p style="color: red">Gebruikersnaam bezet</p>
    {% endif %}
    <div class="registerForm">
        <form action="login.php" method="post">
            <input type="text" name="username" placeholder="Gebruikersnaam">
            <!--<input type="text" name="email" placeholder="email">-->
            <select name="city">

                <option selected disabled>Woonplaats...</option>
                {% for city in cityList %}
                    <option value="{{ city.id }}">
                        {{city.postcode}}, {{ city.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="password" name="password" placeholder="Wachtwoord">
            <input type="password" name="password2" placeholder="Bevestig wachtwoord">
            <input type="submit" name="register" value="Registreren">
        </form>
    </div>





{% endblock %}