<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - Weggeefwinkel</title>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav>
                <ul>
                    <li>
                        <a href="#">Start</a>
                    </li>
                    <li>
                        <a href="#">Zoek</a>
                    </li>
                    <li>
                        <a href="account.php">Login</a>
                    </li>
                </ul>
            </nav>
            
        {% endblock %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://bla.bla">you</a>.
            {% endblock %}
        </div>
    </body>
</html>