<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
            <link rel="stylesheet" href="src/OWG/Weggeefwinkel/Presentation/Css/style.css" />
            <link rel="stylesheet" href="src/OWG/Weggeefwinkel/Presentation/Css/normalize.css" />
            <title>{% block title %}{% endblock %} - Weggeefwinkel</title>
        {% endblock %}
    </head>
    <body>
        <div id="container">
            {% block header %}
                <header>
                    <nav>
                        <ul>
                            <li>
                                <a href="index.php">Start</a>
                            </li>
                            <li>
                                <a href="search.php">Zoek</a>
                            </li>
                            <li>
                                <a href="account.php">Account</a>
                            </li>
                            <li>
                                {% if username == "" %}
                                    <a href="login.php">Login</a>
                                {% else %}
                                    <a href="login.php?action=logout">Logout</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </header>

            {% endblock %}
            <section id="content"> <div class="container">{% block content %}{% endblock %}</div></section>
            <footer>
                {% block footer %}
                    &copy; Copyright 2011 by <a href="http://bla.bla">you</a>.
                {% endblock %}
            </footer>
        </div>
    </body>
</html>